<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="ScanpayAdapter" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="string">scanpaypaymentmodule</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">\Scanpay\PaymentModule\Block\PaymentInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">ScanpayValueHandlerPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="ScanpayAdapter_Mobilepay" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="string">scanpaypaymentmodule_mobilepay</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">\Scanpay\PaymentModule\Block\PaymentInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">ScanpayValueHandlerPool_Mobilepay</argument>
        </arguments>
    </virtualType>
    <virtualType name="ScanpayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">scanpaypaymentmodule</argument>
        </arguments>
    </virtualType>
    <virtualType name="ScanpayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">ScanpayConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="ScanpayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">ScanpayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="ScanpayConfig_Mobilepay" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">scanpaypaymentmodule_mobilepay</argument>
        </arguments>
    </virtualType>
    <virtualType name="ScanpayConfigValueHandler_Mobilepay" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">ScanpayConfig_Mobilepay</argument>
        </arguments>
    </virtualType>
    <virtualType name="ScanpayValueHandlerPool_Mobilepay" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">ScanpayConfigValueHandler_Mobilepay</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\App\Request\CsrfValidator">
        <plugin name="csrf_validator_skip" type="Scanpay\PaymentModule\Plugin\CsrfValidatorSkip" />
    </type>
</config>
